body {
    margin: 0;
    padding: 0;
}

.photo-detail img {
    width: 900px;
}

.photo-detail p {
    display: inline-block;
    font-size: 50px;
    cursor:pointer;
    color: darkgoldenrod;
}

li {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.photo-list {
    display: inline;
}

ul {
    list-style: none;
}

.photo-list img {
    width: 150px;
}

.photo-list p {
    display: inline-block;
    font-size: 20px;
    cursor:pointer;
    color: darkgoldenrod;
}

.curLi {
    border-style:solid;
    border-color:darkgoldenrod;
    border-width:3px;
}

